@model IEnumerable<WebApplication1.setting>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}



<h1>setting</h1>
<div class="page_action">
    <a href="@Url.Action("Create","Setting")">Add New</a>
   
</div>

<div class="row wrap_filter">
    <div class="col-sm-4">
        
    </div>
    <div class="col-sm-8 right">
        <label>Filter</label>

        @Html.DropDownList("filter_setting", new SelectList(((List<WebApplication1.settingtype>)ViewBag.ListTypeSetting), "id", "name"), new { @class = "filter" })
       
        @*<input type="button" id="do_filter_action" onclick="" class="button btn-sm" value="Go">*@
    </div>
</div><!-- wrap_filter -->


@using (Ajax.BeginForm("IndexAjax", null, new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "setting-result",
    OnBegin = "settingsearchOnBegin",
    OnSuccess = "settingsearchOnSuccess"
}, new { @class = "" }))
{

    <button style="display: none;" type="submit" id="setting-btsubmit">Tìm</button>
}
<div id="setting-result">
    @{
        Html.RenderAction("IndexAjax", "Setting");
    }


</div>
<script>

    
    //#region tdg form

    function setting_seacrch() {
        $('#setting-btsubmit').click();
    }
    setting_seacrch();
    function settingsearchOnBegin() {

    }

    function settingsearchOnSuccess() {


    }
    //#endregion

</script>