
@font-face {
  font-family: 'OpenSans';
src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
/* 
    url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), 
    url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');*/
  /*src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
      url('../fonts/glyphicons-halflings-regular.woff') format('woff'), 
      url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
      url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');*/
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OPENSANS-BOLD.ttf') format('truetype');
    /*url('../fonts/OPENSANS-BOLD.woff') format('woff'), url('../fonts/OPENSANS-BOLD.ttf') format('truetype'), 
    url('../fonts/OPENSANS-BOLD.svg#OPENSANS-BOLD') format('svg');*/
  /*src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glyphicons-halflings-regular.woff') format('woff'), 
      url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');*/
}
@font-face {
  font-family: 'OpenSansExtraBold';
src: url('../fonts/OPENSANS-EXTRABOLD.ttf') format('truetype');
     /*url('../fonts/OPENSANS-EXTRABOLD.woff') format('woff'), 
    url('../fonts/OPENSANS-EXTRABOLD.ttf') format('truetype'),
     url('../fonts/OPENSANS-EXTRABOLD.svg#OPENSANS-EXTRABOLD') format('svg');*/
  /*src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glyphicons-halflings-regular.woff') format('woff'), 
      url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
      url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');*/
}
body {    
    font-family:"OpenSans";
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
textarea {
    background-color:#002f6c;
    color:white;
    padding: 2px;
    font-weight:bold;
}
select {
  /*margin: 50px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
      background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;
      */
  height:27px;
  color:white;
    padding: 2px 5px;;
    font-weight:bold;
    font-size:12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(dropdown-icon.png) 100% / 24px no-repeat #002f6c;
  
}
input[type=number]::-webkit-inner-spin-button {
  /*-webkit-appearance: none;
  margin: 50px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
      background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;
      
  height:27px;
  color:white;
    padding: 2px 5px;;
    font-weight:bold;
    font-size:12px;
  -webkit-appearance: none;
  -moz-appearance: none;*/
  background: url(cart_plus.png) 100% / 11px no-repeat #002f6c;
  
}
/* CAUTION: IE hackery ahead */
select::-ms-expand { 
    display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    } 
}

 
/*select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, #0f497d, #0f497d);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;


}

select.classic:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}*/

.top-menu-normal {
    color:white;
    text-align:center;
        height: 49px;
    font-size: 20px;
    padding-top:10px;

}
.top-menu-focus {
    height: 49px;
    font-size: 20px;
    color:white;
    text-align:center;
    background-color:#235d91;
    padding-top:10px;

}
.search {
padding : 0px 1px;
}
.home-bestseller {
    background-color:#d1d9de;
    margin:7px;
}
.allqty {
text-align:center;
}
.submenu:hover{
    border:4px solid #2ea3f2;
}

.img__wrap {
  position: relative;
  /*height: 200px;
  width: 257px;*/
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 320px;
  left: 0;
  right: 0;
  background: rgba(24, 28, 31, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align:center;
  font-size:35px;
  padding:15px 0px;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}
.products {
    padding:3px 15px;
}
.products-name {
    padding:10px 15px 3px 15px;
    font-weight:bold;
}
/********/
.pagination {
  display: inline-block;
  padding-left: 0;
 margin: 0px 0px;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 0px solid #dddddd;
  color: #666666;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #002f6c;
  border-color: #235d91;
}

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}

.pager:before,
.pager:after {
  display: table;
  content: " ";
}

.pager:after {
  clear: both;
}

.pager:before,
.pager:after {
  display: table;
  content: " ";
}

.pager:after {
  clear: both;
}

.pager li {
  display: inline;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px;
}

.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.pager .next > a,
.pager .next > span {
  float: right;
}

.pager .previous > a,
.pager .previous > span {
  float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
}



/*! jQuery Editable Select - v2.2.5 - https://github.com/indrimuska/jquery-editable-select - (c) 2016 Indri Muska - MIT */
input.es-input{padding-right:20px!important;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG2YAABzjgAA4DIAAIM2AAB5CAAAxgwAADT6AAAgbL5TJ5gAAABGSURBVHjaYvz//z8DOYCJgUzA0tnZidPK8vJyRpw24pLEpwnuVHRFhDQxMDAwMPz//x+OOzo6/iPz8WFGuocqAAAA//8DAD/sORHYg7kaAAAAAElFTkSuQmCC) right center no-repeat}input.es-input.open{-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomleft:0;border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomright:0;border-bottom-right-radius:0}.es-list{position:absolute;padding:0;margin:0;border:1px solid #d1d1d1;display:none;z-index:1000;background:#fff;max-height:160px;overflow-y:auto;-moz-box-shadow:0 2px 3px #ccc;-webkit-box-shadow:0 2px 3px #ccc;box-shadow:0 2px 3px #ccc}.es-list li{display:block;padding:5px 10px;margin:0}.es-list li.selected{background:#f3f3f3}.es-list li[disabled]{opacity:.5}

img {max-width: 100%;}
.center{text-align: center;}
/* head main menu */
.navbar{margin-bottom: 0;border-radius: 0;}
.navbar-header{width: 100%;}
.head-main-menu{text-align: right;list-style: none;padding: 0;margin: 0;}
.head-main-menu li {display: inline-block;text-align: center;}
.head-main-menu li a{font-size: 20px;color: #fff;padding: 10px 25px;transition:0.2s;display: block;}
.head-main-menu li:hover a,.head-main-menu li.active a{background-color: #235d91;text-decoration: none;}
.mobile_menu {width: 44px;height: 36px;cursor: pointer;padding: 7px 6px;background: #235d91;display: inline-block;display: none;}
.mobile_menu span{display: block;height: 4px;margin: 0 0 6px;background: #ffffff;}
/*  Fix Category */
.product_category {margin-top: 30px;}
.product_category:after{content: '';display: block;clear: both;}
.img__description{bottom: auto;margin: 0;}
.footer_top {background-color: #235d91;margin-top: 60px;}
.footer_bottom{background-color: #171717;}
.footer_bottom footer ul {line-height: normal;margin: 0;padding: 0;text-align: center;}
.footer_bottom footer ul li {display: inline-block; font-size: 24px;color: #fff;padding: 10px;vertical-align: top;font-weight: 900;}
.footer_bottom footer ul li:after{content: '|';color: #fff;font-size: 20px;float: right;margin: 3px 0 0 15px;}
.footer_bottom footer ul li:last-child:after{display: none;}
.heading_title {text-align: center;color: #2ea3f2;font-size: 46px;margin-top: 50px;}
.heading_title span{margin-right: 20px;}
.heading_title img {cursor: pointer;}
.banner_dowload{margin: 50px auto 30px;}
.download_list {margin: 30px 0;padding: 0;list-style: none;columns: 2;-webkit-columns: 2; -moz-columns: 2;}
.download_list li {font-size: 16px;margin-bottom: 15px;}
.download_list li a{padding: 10px 0 10px 55px;background-image: url(pdf.ico);background-position: center left;background-repeat: no-repeat;background-size: 40px auto;display: block;}
.translation-links ul.top_link{margin: 0;padding: 0;text-align: right;}
.translation-links ul.top_link li {display: inline-block;position: relative;}
.sub_language {position: absolute;top: 100%;left: 0;background-color: #fff;padding: 5px;display: none;width: 95px;text-align: left;}
.translation-links ul.top_link li:hover ul {display: block;}
.translation-links ul.top_link .sub_language li{display: block;margin-bottom: 5px;}
.translation-links ul.top_link .sub_language li:last-child{margin-bottom: 0;}
.inner_list_product {padding: 10px 15px;}
.product_hover{cursor: pointer;}
.wrap_product_list{position: relative;}
.product_hover_info{position: absolute;top: 100%;left: 50%;transform:translateX(-50%);background-color: #ffff;text-align: center;z-index: 2;box-shadow: 0 0 25px #999;opacity: 0;visibility: hidden;transition:0.2s;}
.product_hover_info h3{margin: 5px;}
.product_hover_info .product_hover_info_price{font-size: 20px;font-weight: bold;color: #235d91;display: block;margin: 10px 0;}
.product_hover_info .product_hover_info_desc{padding: 0px 10px;}
.product_hover_info a.btn{display: block;background-color: #235d91;color: #fff;padding: 6px 10px;margin: 5px 10px;}
.product_hover_info a.btn:hover{background-color: #183d5f;}
.wrap_product_list:hover{background-color: #eaf5ff !important;}
.wrap_product_list:hover .product_hover_info{opacity: 1;visibility: visible;}
/* head main menu mobile*/
@media(max-width: 767px){
  .container>.navbar-header, .container>.navbar-collapse{margin-left: 0;margin-right: 0;}
  .navbar-header{width: auto;}
  .head-menu{text-align: right;}
  .mobile_menu{display: inline-block;margin: 10px 0 5px;}
  .wrap-head-main-menu{display: none;}
  .head-main-menu {background-color: #222;}
  .head-main-menu li{display: block;text-align: left;border-bottom: 1px solid #333;}
  /* mobile product */
  .home-bestseller{height: auto !important;padding-bottom: 10px;min-height: 250px;}
  .footer_bottom footer ul{margin: 10px 0;}
  .footer_bottom footer ul li{padding: 5px 10px;display: block;text-align: left;font-size: 16px;}
  .footer_bottom footer ul li:after{display: none;}
  .img__description{font-size: 25px;}
  .download_list {columns: 1;-webkit-columns: 1; -moz-columns: 1;}
}
@media(max-width: 480px){
  .wrap_table {overflow-x:scroll;width: auto; }
  .footer_bottom footer ul li{display: block;text-align: left;font-size: 15px;}
  .footer_bottom footer ul li:after{display: none;}
}