@model IEnumerable<artgrp>

<ul class="product_group_list" >
    @foreach (var item in Model)
    {

        <li>

            <div class="radio">
                <label><input type="radio" id="radio_@item.GROUPNO" value="@item.GROUPNO" name="GROUPNO">@item.GROUPNAME</label>
            </div>

        </li>

    }
</ul>
