<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Janere Backend Product</title>
<link rel="stylesheet" href="fontawesome/css/all.css">
<link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="all" href="css/admin-style.css">

</head>
<body>
<div class="page_wrapper">
	<header id="header">
		<div class="header_wrapper">
			<div class="container">
				<a class="adminlogo" href="./"><img src="images/logo.png"></a>
				<ul class="header_link">
					<li><a href="#"><i class="fas fa-user"></i> Admin</a></li>					
				</ul>
			</div>
		</div>
	</header>
	<div class="page_content">
		<div class="container">
			<div class="row">
				<div id="left_sidebar" class="col-sm-3">
					<h2><a href="./">Dashboard</a></h2>
					<ul id="adminmenu">
						<li><a href="#">Layout <i class="fas fa-sort-up"></i></a>
							<ul>
								<li><a href="#">Logo</a></li>
								<li><a href="#">Menu</a></li>
								<li><a href="#">Header Bar</a></li>
								<li><a href="#">Language</a></li>
								<li><a href="#">Slider</a></li>
								<li><a href="#">Banners</a></li>
								<li><a href="#">Footer</a></li>								
							</ul>
						</li>
						<li><a href="#">Products <i class="fas fa-sort-up"></i></a>
							<ul>
								<li><a href="#">Product Groups</a></li>
								<li><a href="#">Products</a></li>
								<li><a href="#">Atribute</a></li>
								<li><a href="#">Cart</a></li>
								<li><a href="#">Setting</a></li>								
							</ul>
						</li>
						<li><a href="#">Orders <i class="fas fa-sort-up"></i></a>
							<ul>
								<li><a href="#">All Orders</a></li>
								<li><a href="#">Create Order</a></li>
								<li><a href="#">Promotion</a></li>
								<li><a href="#">Report</a></li>
								<li><a href="#">Setting</a></li>
							</ul>
						</li>
						<li><a href="#">User <i class="fas fa-sort-up"></i></a>
							<ul>
								<li><a href="#">Add New</a></li>
								<li><a href="#">All User</a></li>
								<li><a href="#">Your Profile</a></li>								
							</ul>
						</li>
						<li><a href="#">Warehouses <i class="fas fa-sort-up"></i></a>
							<ul>
								<li><a href="#">Add Mew</a></li>
								<li><a href="#">All Warehoueses</a></li>
								<li><a href="#">Setting</a></li>
							</ul>
						</li>
						<li><a href="#">Stores <i class="fas fa-sort-up"></i></a>
							<ul>
								<li><a href="#">Add New</a></li>
								<li><a href="#">All Stores</a></li>
								<li><a href="#">Setting</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- left_sidebar -->
				<div id="main_content" class="col-sm-9">
					<h1>Product</h1>
					<div class="page_action">
						<a href="#">Add New</a>
						<a href="#">Import</a>
						<a href="#">Export</a>
					</div>
					<form method="post" name="form_product" id="form_product" action="./">
						<ul class="sub_action">
							<li class="active"><a href="#">All</a></li>
							<li><a href="#">Published</a></li>
							<li><a href="#">Trashed</a></li>
						</ul>
						<div class="row wrap_filter">
							<div class="col-sm-4">
								<label>Action</label>
								<select class="bulk_action filter" name="bulk_action">
									<option value="trash">Move to trash</option>
									<option value="edit">Edit</option>
								</select>
								<input type="submit" id="do_bulk_action" class="button btn-sm" value="Go">
							</div>
							<div class="col-sm-8 right">
								<label>Filter</label>
								<select class="filter" name="filter_cat">
									<option value>Category</option>
									<option value="">--000--</option>
								</select>
								<select class="filter" name="filter_warhouse">
									<option value>Warhouse</option>
									<option value="">--000--</option>
								</select>
								<select class="filter" name="filter_stock">
									<option value>Stock</option>
									<option value="">--000--</option>
								</select>
								<select class="filter" name="filter_store">
									<option value>Store</option>
									<option value="">--000--</option>
								</select>
								<input type="submit" id="do_filter_action" class="button btn-sm" value="Go">
							</div>							
						</div><!-- wrap_filter -->
						<table class="table list_product">
							<thead>
								<tr>
									<th id="cb" class="manage_column column_check"><input id="cb_select_all" type="checkbox"></th>
									<th scope="col" id="thumb" class="manage_column column_thumb"><i class="far fa-image"></i></th>
									<th scope="col" id="barcode" class="manage_column column_barcode">Barcode</th>
									<th scope="col" class="manage_column column_number"></th>
									<th scope="col" id="product_name" class="manage_column column_product_name">Product Name</th>
									<th scope="col" id="description" class="manage_column column_description">Description</th>
									<th scope="col" id="category" class="manage_column column_category">Category</th>
									<th scope="col" id="price" class="manage_column column_price">Price</th>
									<th scope="col"  class="manage_column column_action"></th>
								</tr>								
							</thead>
							<tbody>
								<tr>
									<td id="" class="manage_column column_check"><input id="" type="checkbox"></td>
									<td scope="col" id="thumb" class="manage_column column_thumb"><img src="images/1.jpg" alt=""></td>
									<td scope="col" id="barcode" class="manage_column column_barcode">5A20416TXTC</td>
									<td scope="col" class="manage_column column_number">4741444192161</td>
									<td scope="col" id="product_name" class="manage_column column_product_name">Puiduk pp A2 AISI304,0x16 TX20</td>
									<td scope="col" id="description" class="manage_column column_description">100 tk</td>
									<td scope="col" id="category" class="manage_column column_category">Category</td>
									<td scope="col" id="price" class="manage_column column_price">10,38$</td>
									<td scope="col"  class="manage_column column_action"><a class="delete_action" href="#"><i class="fas fa-times"></i></a> <a class="edit_action" href="#"><i class="fas fa-edit"></i></a></td>
								</tr>
								<tr>
									<td id="" class="manage_column column_check"><input id="" type="checkbox"></td>
									<td scope="col" id="thumb" class="manage_column column_thumb"><img src="images/1.jpg" alt=""></td>
									<td scope="col" id="barcode" class="manage_column column_barcode">5A20416TXTC</td>
									<td scope="col" class="manage_column column_number">4741444192161</td>
									<td scope="col" id="product_name" class="manage_column column_product_name">Puiduk pp A2 AISI304,0x16 TX20</td>
									<td scope="col" id="description" class="manage_column column_description">100 tk</td>
									<td scope="col" id="category" class="manage_column column_category">Category</td>
									<td scope="col" id="price" class="manage_column column_price">10,38$</td>
									<td scope="col"  class="manage_column column_action"><a class="delete_action" href="#"><i class="fas fa-times"></i></a> <a class="edit_action" href="#"><i class="fas fa-edit"></i></a></td>
								</tr>
								<tr>
									<td id="" class="manage_column column_check"><input id="" type="checkbox"></td>
									<td scope="col" id="thumb" class="manage_column column_thumb"><img src="images/1.jpg" alt=""></td>
									<td scope="col" id="barcode" class="manage_column column_barcode">5A20416TXTC</td>
									<td scope="col" class="manage_column column_number">4741444192161</td>
									<td scope="col" id="product_name" class="manage_column column_product_name">Puiduk pp A2 AISI304,0x16 TX20</td>
									<td scope="col" id="description" class="manage_column column_description">100 tk</td>
									<td scope="col" id="category" class="manage_column column_category">Category</td>
									<td scope="col" id="price" class="manage_column column_price">10,38$</td>
									<td scope="col"  class="manage_column column_action"><a class="delete_action" href="#"><i class="fas fa-times"></i></a> <a class="edit_action" href="#"><i class="fas fa-edit"></i></a></td>
								</tr>
								<tr>
									<td id="" class="manage_column column_check"><input id="" type="checkbox"></td>
									<td scope="col" id="thumb" class="manage_column column_thumb"><img src="images/1.jpg" alt=""></td>
									<td scope="col" id="barcode" class="manage_column column_barcode">5A20416TXTC</td>
									<td scope="col" class="manage_column column_number">4741444192161</td>
									<td scope="col" id="product_name" class="manage_column column_product_name">Puiduk pp A2 AISI304,0x16 TX20</td>
									<td scope="col" id="description" class="manage_column column_description">100 tk</td>
									<td scope="col" id="category" class="manage_column column_category">Category</td>
									<td scope="col" id="price" class="manage_column column_price">10,38$</td>
									<td scope="col"  class="manage_column column_action"><a class="delete_action" href="#"><i class="fas fa-times"></i></a> <a class="edit_action" href="#"><i class="fas fa-edit"></i></a></td>
								</tr>
								<tr>
									<td id="" class="manage_column column_check"><input id="" type="checkbox"></td>
									<td scope="col" id="thumb" class="manage_column column_thumb"><img src="images/1.jpg" alt=""></td>
									<td scope="col" id="barcode" class="manage_column column_barcode">5A20416TXTC</td>
									<td scope="col" class="manage_column column_number">4741444192161</td>
									<td scope="col" id="product_name" class="manage_column column_product_name">Puiduk pp A2 AISI304,0x16 TX20</td>
									<td scope="col" id="description" class="manage_column column_description">100 tk</td>
									<td scope="col" id="category" class="manage_column column_category">Category</td>
									<td scope="col" id="price" class="manage_column column_price">10,38$</td>
									<td scope="col"  class="manage_column column_action"><a class="delete_action" href="#"><i class="fas fa-times"></i></a> <a class="edit_action" href="#"><i class="fas fa-edit"></i></a></td>
								</tr>
								<tr>
									<td id="" class="manage_column column_check"><input id="" type="checkbox"></td>
									<td scope="col" id="thumb" class="manage_column column_thumb"><img src="images/1.jpg" alt=""></td>
									<td scope="col" id="barcode" class="manage_column column_barcode">5A20416TXTC</td>
									<td scope="col" class="manage_column column_number">4741444192161</td>
									<td scope="col" id="product_name" class="manage_column column_product_name">Puiduk pp A2 AISI304,0x16 TX20</td>
									<td scope="col" id="description" class="manage_column column_description">100 tk</td>
									<td scope="col" id="category" class="manage_column column_category">Category</td>
									<td scope="col" id="price" class="manage_column column_price">10,38$</td>
									<td scope="col"  class="manage_column column_action"><a class="delete_action" href="#"><i class="fas fa-times"></i></a> <a class="edit_action" href="#"><i class="fas fa-edit"></i></a></td>
								</tr>
								<tr>
									<td id="" class="manage_column column_check"><input id="" type="checkbox"></td>
									<td scope="col" id="thumb" class="manage_column column_thumb"><img src="images/1.jpg" alt=""></td>
									<td scope="col" id="barcode" class="manage_column column_barcode">5A20416TXTC</td>
									<td scope="col" class="manage_column column_number">4741444192161</td>
									<td scope="col" id="product_name" class="manage_column column_product_name">Puiduk pp A2 AISI304,0x16 TX20</td>
									<td scope="col" id="description" class="manage_column column_description">100 tk</td>
									<td scope="col" id="category" class="manage_column column_category">Category</td>
									<td scope="col" id="price" class="manage_column column_price">10,38$</td>
									<td scope="col"  class="manage_column column_action"><a class="delete_action" href="#"><i class="fas fa-times"></i></a> <a class="edit_action" href="#"><i class="fas fa-edit"></i></a></td>
								</tr>
								<tr>
									<td id="" class="manage_column column_check"><input id="" type="checkbox"></td>
									<td scope="col" id="thumb" class="manage_column column_thumb"><img src="images/1.jpg" alt=""></td>
									<td scope="col" id="barcode" class="manage_column column_barcode">5A20416TXTC</td>
									<td scope="col" class="manage_column column_number">4741444192161</td>
									<td scope="col" id="product_name" class="manage_column column_product_name">Puiduk pp A2 AISI304,0x16 TX20</td>
									<td scope="col" id="description" class="manage_column column_description">100 tk</td>
									<td scope="col" id="category" class="manage_column column_category">Category</td>
									<td scope="col" id="price" class="manage_column column_price">10,38$</td>
									<td scope="col"  class="manage_column column_action"><a class="delete_action" href="#"><i class="fas fa-times"></i></a> <a class="edit_action" href="#"><i class="fas fa-edit"></i></a></td>
								</tr>
							</tbody>
						</table>
						<div class="wrap_product_nav">
							<span>10 of 30 items</span>
							<select class="filter" name="filter_nav">
								<option value="10">10 items per page</option>
								<option value="20">20 items per page</option>
								<option value="30">30 items per page</option>
							</select>
							<ul class="product_nav">
								<li class="prev disabled"><a href="#"><i class="fas fa-angle-left"></i></a></li>
								<li class="current"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li class="next"><a href="#"><i class="fas fa-angle-right"></i></a></li>
							</ul>
						</div><!-- wrap_product_nav -->
					</form>
				</div><!-- main_content -->
			</div>
		</div>
	</div><!-- page_content -->
	<footer>
		<div class="footer_top">
			<div class="container">
				<ul>
					<li><a href="tel:03726580300"><i class="fas fa-phone-volume"></i> +372 658 0300</a></li>
					<li><a href="mailto:janere@janere.ee"><i class="fas fa-envelope"></i> janere@janere.ee</a></li>
					<li><a href="https://www.facebook.com/janere.ee" target="_blank"><i class="fab fa-facebook-f"></i></a> <a href="skype:oujanere?chat" target="_blank"><i class="fab fa-skype"></i></a></li>					
				</ul>
			</div>
		</div>	
		<div class="footer_bottom">
			<div class="container">           
             <ul>
                 <li>© OÜ Janere</li>
                 <li>Reg. no. 10001584</li>
                 <li>Põldmäe tee 14, Vatsla küla, Saue vald, 76915 Estonia</li>
             </ul>            
        </div>
		</div><!-- footer_bottom -->
	</footer>
</div><!-- page_wrapper -->	
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/admin.js"></script>
</body>
</html>
