@model IEnumerable<WebApplication1.user>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}



<h1>user</h1>
<div class="page_action">
    <a href="@Url.Action("Create","AccountLogin")">Add New</a>
   
</div>



@using (Ajax.BeginForm("IndexAjax", null, new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "user-result",
    OnBegin = "usersearchOnBegin",
    OnSuccess = "usersearchOnSuccess"
}, new { @class = "" }))
{

    <button style="display: none;" type="submit" id="user-btsubmit">Tìm</button>
}
<div id="user-result">
    @{
        Html.RenderAction("IndexAjax", "AccountLogin");
    }


</div>
<script>

    
    //#region tdg form

    function user_seacrch() {
        $('#user-btsubmit').click();
    }
    user_seacrch();
    function usersearchOnBegin() {

    }

    function usersearchOnSuccess() {


    }
    //#endregion

</script>