
@{
    ViewBag.Title = "CreateOrderSetting";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h2>CREATE NEW ORDER SETTING</h2>
<!-- /.row -->
<div class="row">
    <div id="main_content" class="col-sm-12">

        <div class="Order_content">
            @using (Html.BeginForm("CreateOrderSetting", "Order", FormMethod.Post, new { @id = "validation-form" }))
            {


                @Html.Partial("_InputOrderSetting")

                <div class="row">
                    <div class="col-sm-6">


                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="page_action">
                           
                                <a id="submitbutton">Add New</a>
                                <a class="button button-sm" href="@Url.Action("SettingIndex","Order")">Cancel</a>
                            </div>



                        </div>

                    </div>
                </div>

            }

        </div><!-- Order_content -->

    </div><!-- main_content -->
</div>

<script>
    $("#submitbutton").on('click', function (e) {
        e.preventDefault();
        if ($('#validation-form').valid()) {
            $('#validation-form')[0].submit();
        }
    });
</script>

