@model IEnumerable<WebApplication1.ordersetting>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}



<h1>SETTING</h1>
<div class="page_action">
    <a href="@Url.Action("CreateOrderSetting","Order")">Add New</a>

</div>




@using (Ajax.BeginForm("SettingIndexAjax", new { type = ViewBag.Type }, new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "setting-result",
    OnBegin = "settingsearchOnBegin",
    OnSuccess = "settingsearchOnSuccess"
}, new { @class = "" }))
{

    <button style="display: none;" type="submit" id="setting-btsubmit">Tìm</button>
}
<div id="setting-result">
    @{
        Html.RenderAction("SettingIndexAjax", "Order");
    }


</div>
<script>


    //#region tdg form

    function setting_seacrch() {
        $('#setting-btsubmit').click();
    }
    setting_seacrch();
    function settingsearchOnBegin() {

    }

    function settingsearchOnSuccess() {


    }
    //#endregion

</script>