

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}



<h1>FILE</h1>
<div class="page_action">
    <a href="@Url.Action("Create","File")">Add New</a>
   
</div>



@using (Ajax.BeginForm("IndexAjax", null, new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "file-result",
    OnBegin = "filesearchOnBegin",
    OnSuccess = "filesearchOnSuccess"
}, new { @class = "" }))
{

    <button style="display: none;" type="submit" id="file-btsubmit">Tìm</button>
}
<div id="file-result">
    @{
        Html.RenderAction("IndexAjax", "File");
    }


</div>
<script>

    
    //#region tdg form

    function file_seacrch() {
        $('#file-btsubmit').click();
    }
    file_seacrch();
    function filesearchOnBegin() {

    }

    function filesearchOnSuccess() {


    }
    //#endregion

</script>