@model IEnumerable<WebApplication1.store>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}



<h1>Store</h1>
<div class="page_action">
    <a href="@Url.Action("Create","Store")">Add New</a>
   
</div>



@using (Ajax.BeginForm("IndexAjax", null, new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "store-result",
    OnBegin = "storesearchOnBegin",
    OnSuccess = "storesearchOnSuccess"
}, new { @class = "" }))
{

    <button style="display: none;" type="submit" id="store-btsubmit">Search</button>
}
<div id="store-result">
    @{
        Html.RenderAction("IndexAjax", "Store");
    }


</div>
<script>

    
    //#region tdg form

    function store_seacrch() {
        $('#store-btsubmit').click();
    }
    store_seacrch();
    function storesearchOnBegin() {

    }

    function storesearchOnSuccess() {


    }
    //#endregion

</script>