@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
</head>
<style>
    body {
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: #333;
        line-height: 1.6;
    }
</style>
<body>
    <div style="width: 580px; margin: auto; border:1px solid #dedede;">
       
      
        <div style="padding:5px 15px;">
            <p>Hello, <b>##name##</b></p>
           
        </div>

      

    </div>
</body>
</html>
