<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
</head>
<style>
    body {
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: #333;
        line-height: 1.6;
    }
</style>
<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #ffffff;
            color: #000000;
        }
</style>
<body style="margin-left:20%;">
    <div style="width: 580px; margin: auto; border:1px solid #dedede;    min-height: 500px; float: left; padding-bottom: 20px;">
        <div style="background: #235d92; padding: 0 15px; height:80px; line-height:35px;">
            <div style="text-align: left; color: #ffffff; font-weight: bold;padding:20px 15px;font-size: 25px;">
                New Order:  ##Order##
            </div>


        </div>


        <div style="padding: 5px 15px;">
            <p>
                Xin chào <b>##name##</b>
            </p>
            <p>Your order have been received, we will send you the price list shortly. Please check your order below</p>

            <div style="text-align: left; color: #235d92; font-weight: bold; padding: 5px 15px; font-size: 20px;">
                New Order: ##Order##
            </div>

        </div>
        <div style="padding: 5px 15px;">
            <table id="customers">
                <tr>
                    <th>Product</th>
                    <th>Amount</th>
                    <th>Note</th>
                </tr>
                ##Table##
             
              
                <tr>
                    <td colspan="2">Delivery</td>

                    <td>##COD##</td>
                </tr>
                <tr>
                    <td colspan="2">Payment method</td>

                    <td>##CASH##</td>
                </tr>
            </table>

        </div>
        <div style="width: 100%;padding:5px 15px;">
            <div style="min-height:40px;width:47%;float:left;">
                Invoice Address
                <div style="margin-top: 10px; border: 1px solid #e5e5e5; min-height: 40px; padding-left: 10px;">
                    ##InvoiceAddress##
                </div>
            </div>
            <div style="min-height:40px;width:47%;float:left;">
                Delivery Address
                <div style="margin-top: 10px; border: 1px solid #e5e5e5; min-height: 40px;padding-left: 10px;">
                    ##DeliveryAddress##
                </div>
            </div>
        </div>




    </div>
</body>
</html>
