<div class="footer_top">
    <div class="container">
        <footer>
            <div class="row" style="padding: 10px 0px; text-align: center;">
                <div class="col-lg-3 col-md-2 col-sm-1 col-xs-1">	&nbsp;</div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3" style="padding:10px 0px;">
                    <a href="tel:+372 658 0300"> <img alt="Janere" src="~/Content/head/contact-phone.png" /><span style="color: white; ">+372 658 0300</span></a>

                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3" style="padding: 10px 0px;">
                    <a href="mailto:janere@janere.ee"> <img alt="Janere" src="~/Content/head/contact-email.png" /><span style="color: white; ">janere@janere.ee</span></a>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-1"><a href="https://www.facebook.com/janere.ee"><img alt="Janere" src="~/Content/foot/facebook.png" /></a></div>
                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-1"><a href="skype:oujanere?chat"><img alt="Janere" src="~/Content/foot/skype.png" /></a></div>
                <div class="col-lg-3 col-md-2 col-sm-1 col-xs-1">	&nbsp;</div>
            </div>
        </footer>
    </div>
</div>
<div class="footer_bottom">
    <div class="container">
        <footer>
            <ul style="font-size: 20px;">
                <li><span class="txtFooter">© OÜ Janere</span> </li>
                <li><span class="txtFooter">Reg. no. 10001584</span> </li>
                <li><span class="txtFooter">Põldmäe tee 14, Vatsla küla, Saue vald, 76915 Estonia</span> </li>
            </ul>
        </footer>
    </div>
</div>

<style>
    .txtFooter {
        font-size: 14px !important;
    }
</style>