@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
</head>
<style>
    body {
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: #333;
        line-height: 1.6;
    }
</style>
<body>
    <div style="width: 580px; margin: auto; border:1px solid #dedede;">
        <div style="background: #008475; padding: 0 15px; height:35px; line-height:35px;">
            <div style="text-align: center">
               New Order: #374767
            </div>
          

        </div>
       
        <div style="background: #f7f7f7; padding: 0 15px; height:35px; line-height:35px; border-top:1px solid #dedede; border-bottom:1px solid #dedede">

            <a href="https://danhbavieclam.vn/tim-viec-lam" title="Tìm việc làm" style="float:left; color: #008475; font-size:12px; text-decoration:none; margin-right:10px;">Tìm việc làm</a>

            <a href="https://danhbavieclam.vn/tin-tuc/chuyen-muc-nghe-thuat-quan-ly-3" title="Nghệ thuật quản lý" style="float:left; color: #008475; font-size:12px; text-decoration:none; margin-right:15px;">Nghệ thuật quản lý</a>

            <a href="https://danhbavieclam.vn/tin-tuc/chuyen-muc-ky-nang-phong-van-4" title="Kỹ năng phỏng vấn" style="float:left; color: #008475; font-size:12px; text-decoration:none; margin-right:15px;">Kỹ năng phỏng vấn</a>

            <a href="https://danhbavieclam.vn/tin-tuc/chuyen-muc-dinh-huong-nghe-nghiep-2" title="Định hướng nghề nghiệp" style="float:left; color: #008475; font-size:12px; text-decoration:none; margin-right:15px;">Định hướng nghề nghiệp</a>
        </div>
        <div style="padding:5px 15px;">
            <p>Xin chào <b>##name##</b></p>
            <p>Hãy xác nhận địa chỉ email này <br /> Nhấp chuột bên dưới để hoàn tất xác minh</p>
            <a href="##activatelink##" style="text-align:center; color: #fff; width:90px; height: 30px; margin:auto; background: #008475;display: block;line-height: 30px;">Xác minh</a>

        </div>

        <div style="text-align:right; margin-top:90px; padding: 0 15px">
            <p>
                Regasd, <br />
                Công Ty TNHH Kinh Doanh Dịch Vụ NNC <br />
                1900 636 980 <br />
                <a style="color: #008475; font-size:12px; text-decoration:none">danhbavieclam.vn</a>

            </p>
        </div>

    </div>
</body>
</html>
