

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}



<h1>META GROUP</h1>
<div class="page_action">
    <a href="@Url.Action("Create","MasterMetaGroup")">Add New</a>
   
</div>

<ul class="sub_action">
    <li class="active"><a href="@Url.Action("Index", "MasterMetaGroup", new {tab= "published" })">Published</a></li>
    <li><a href="@Url.Action("Index","MasterMetaGroup",new {tab="trashed"})">Trashed</a></li>
</ul>
 <div class="row wrap_filter" style="margin-top: 10px;">
    <div class="col-sm-4">
        <label>Action</label>
        <select class="bulk_action filter" name="bulk_action">
            <option value="trash">Move to trash</option>
        </select>
        <input type="submit" id="do_bulk_action" class="button btn-sm" value="Go">
    </div>
    <div class="col-sm-4 right">
       
    </div>
    <div class="col-sm-4 right">
        <input type="text" name="search_order" id="txtsearch_orders" class="form-control">

    </div>
</div><!-- wrap_filter -->
@using (Ajax.BeginForm("IndexAjax", new { tab = ViewBag.Tab } ,new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "metagrup-result",
    OnBegin = "metagrupsearchOnBegin",
    OnSuccess = "metagrupsearchOnSuccess"
}, new { @class = "" }))
{

    <button style="display: none;" type="submit" id="metagrup-btsubmit">Search</button>
}
<div id="metagrup-result">
    @{
        Html.RenderAction("IndexAjax", "MasterMetaGroup");
    }


</div>
<script>


    $('#do_bulk_action').on('click', function () {
        updateStatus();
    });

    function updateStatus() {
        var _value = $('.bulk_action filter').val();
        var _count = $(".item_check input:checked").length;
        var _items = new Array();
        $(".item_check input:checked").each(function () {
            _items.push(this.value);
        });
        if (_count > 0) {
            $.post('@Url.Action("UpdateStatus", "MasterMetaGroup")', { status: _value, ids: _items }, function (data) {

                if (data.status == 'true' || data.status == true) {
                    onPageChange($('#metagrup-result').find('a[data-page="1"]'));
                } else {
                    alert(data.msg);
                }

            });
        } else {
            alert("Select item in list");
        }
    }
    //#region tdg form

    function metagrup_seacrch() {
        $('#metagrup-btsubmit').click();
    }
    metagrup_seacrch();
    function metagrupsearchOnBegin() {

    }

    function metagrupsearchOnSuccess() {


    }
    //#endregion

</script>