

@{
    ViewBag.Title = "IndexMetaGroup";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}



<h1>META GROUP</h1>
<div class="page_action">
    <a href="@Url.Action("CreateMetaGroup","MasterMetaGroup")">Add New</a>
   
</div>



<div class="row wrap_filter">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4 right">

    </div>
    <div class="col-sm-4 right">
        <input type="text" name="search_order" id="txtsearch_orders" class="form-control">

    </div>
</div><!-- wrap_filter -->
@using (Ajax.BeginForm("IndexAjaxMetaGroup", null, new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "metagrup-result",
    OnBegin = "metagrupsearchOnBegin",
    OnSuccess = "metagrupsearchOnSuccess"
}, new { @class = "" }))
{

    <button style="display: none;" type="submit" id="metagrup-btsubmit">Tìm</button>
}
<div id="metagrup-result">
    @{
        Html.RenderAction("IndexAjaxMetaGroup", "MasterMetaGroup");
    }


</div>
<script>

    
    //#region tdg form

    function metagrup_seacrch() {
        $('#metagrup-btsubmit').click();
    }
    metagrup_seacrch();
    function metagrupsearchOnBegin() {

    }

    function metagrupsearchOnSuccess() {


    }
    //#endregion

</script>