<!DOCTYPE html>
<html>
<head>
    @if ( Session["LoggedAccount"] != null)
    {
        WebApplication1.Models.AllLoggedUserInfo userFullInfo = (WebApplication1.Models.AllLoggedUserInfo)Session["LoggedAccount"];
        if (userFullInfo.role.RoleName != "super_admin")
        {            
            string currentUrl = Request.Url.ToString();
            Response.Redirect(Url.Action("Login", "Home", new { returnUrl = currentUrl }));
        }
        
    }
    else
    {
        string currentUrl = Request.Url.ToString();
        Response.Redirect(Url.Action("Login", "Home", new { returnUrl = currentUrl }));
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
   
    <link href="~/Content/admin/css/admin-style.css" rel="stylesheet" />
    <link href="~/Content/admin/css/all.css" rel="stylesheet"/>
    <link href="~/Content/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/admin/css/select2.min.css" rel="stylesheet" />
    <script src="~/Content/admin/js/jquery.min.js"></script>
    <script src="~/Content/admin/js/admin.js"></script>
    <script src="~/Content/admin/js/jquery.js"></script>
    <script src="~/Content/admin/js/bootbox.min.js"></script>
    <script src="~/Content/admin/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Content/admin/js/select2.min.js"></script>
    <script src="~/Content/admin/js/CusWeb.js"></script>
</head>
<body>

<div class="page_wrapper">
    <header id="header">
        <div class="header_wrapper">
            <div class="container">
                <a class="adminlogo" href="./">
                    <img src="~/Content/admin/logo_icon/logo.png"/>
                </a>
                <ul class="header_link">
                    <li><a href="#"><i class="fas fa-user"></i> Admin</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="container body-content">
        <div class="row">
            <div id="left_sidebar" class="col-sm-3">
                <h2><a href="./">Dashboard</a>
                </h2>
                <ul id="adminmenu">
                    <li>
                        <a href="#">Layout <i class="fas fa-sort-up"></i></a>
                        <ul style="display: block;">
                            <li><a href="#">Logo</a></li>
                            <li><a href="#">Menu</a></li>
                            <li><a href="#">Header Bar</a></li>
                            <li><a href="#">Language</a></li>
                            <li><a href="#">Slider</a></li>
                            <li><a href="#">Banners</a></li>
                            <li><a href="#">Footer</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Products <i class="fas fa-sort-up"></i></a>
                        <ul>
                            <li><a href="#">Product Groups</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Atribute</a></li>
                            <li><a href="#">Cart</a></li>
                            <li><a href="#">Setting</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Orders <i class="fas fa-sort-up"></i></a>
                        <ul>
                            <li><a href="#">All Orders</a></li>
                            <li><a href="#">Create Order</a></li>
                            <li><a href="#">Promotion</a></li>
                            <li><a href="#">Report</a></li>
                            <li><a href="#">Setting</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">User <i class="fas fa-sort-up"></i></a>
                        <ul>
                            <li><a href="@Url.Action("Create", "AccountLogin")">Add New</a></li>
                            <li><a href="@Url.Action("Index", "AccountLogin")">All User</a></li>
                            <li><a href="#">Your Profile</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Warehouses <i class="fas fa-sort-up"></i></a>
                        <ul style="display: block;">
                            <li><a href="#">Add Mew</a></li>
                            <li><a href="#">All Warehoueses</a></li>
                            <li><a href="#">Setting</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Stores <i class="fas fa-sort-up"></i></a>
                        <ul>
                            <li><a href="#">Add New</a></li>
                            <li><a href="#">All Stores</a></li>
                            <li><a href="#">Setting</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- left_sidebar -->
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" style="padding: 0px;">
                @RenderBody()
            </div>

        </div>
    </div>

    <script>
    

    </script>
    <style>
        form.loading {
            position: relative;
        }

            form.loading div.opacity {
                display: block !important;
            }

            form.loading div.loading_icon {
                display: block !important;
            }
    </style>
    <footer>
        <div class="footer_top">
            <div class="container">
                <ul>
                    <li><a href="tel:03726580300"><i class="fas fa-phone-volume"></i> +372 658 0300</a></li>
                    <li><a href="mailto:janere@janere.ee"><i class="fas fa-envelope"></i> janere@janere.ee</a></li>
                    <li><a href="https://www.facebook.com/janere.ee" target="_blank"><i class="fab fa-facebook-f"></i></a> <a href="skype:oujanere?chat" target="_blank"><i class="fab fa-skype"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <ul>
                    <li>© OÜ Janere</li>
                    <li>Reg. no. 10001584</li>
                    <li>Põldmäe tee 14, Vatsla küla, Saue vald, 76915 Estonia</li>
                </ul>
            </div>
        </div><!-- footer_bottom -->
    </footer>
   
</div>
    
</body>
</html>
