@model IEnumerable<artgrp>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3">
            <div class="radio">
                <label><input type="radio" id="radio_@item.GROUPNO" value="@item.GROUPNO" name="tblitem.GROUPNO">@item.GROUPNAME</label>
            </div>
        </div>
    }
    
</div>