@{
    ViewBag.Title = "Catalogue";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
<
    <h1>Logo</h1>
    <form method="post" name="form_logo" id="form_logo" action="./">
        <div class="row">
            <div class="col-sm-2"><label>Upload your logo</label></div>
            <div class="col-sm-7"><input type="file" name="uplogo" id="uplogo" class="form-control"></div>
            <div class="col-sm-2 center"><input type="submit" name="submitlogo" class="button button-primary button-sm" value="Upload"></div>
            <div class="col-sm-1"><a class="help" href="#"><i class="fas fa-question"></i></a></div>
        </div>
        <p class="choose_library">Choose from library: <a href="#">Library</a></p>
    </form>
