

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}



<h1>META GROUP</h1>
<div class="page_action">
    <a href="@Url.Action("Create","MasterMetaGroup")">Add New</a>
   
</div>



@using (Ajax.BeginForm("IndexAjax", null, new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "metagrup-result",
    OnBegin = "metagrupsearchOnBegin",
    OnSuccess = "metagrupsearchOnSuccess"
}, new { @class = "" }))
{

    <button style="display: none;" type="submit" id="metagrup-btsubmit">Tìm</button>
}
<div id="metagrup-result">
    @{
        Html.RenderAction("IndexAjax", "MasterMetaGroup");
    }


</div>
<script>

    
    //#region tdg form

    function metagrup_seacrch() {
        $('#metagrup-btsubmit').click();
    }
    metagrup_seacrch();
    function metagrupsearchOnBegin() {

    }

    function metagrupsearchOnSuccess() {


    }
    //#endregion

</script>