
@{
    Layout = null;
}
@model IEnumerable<WebApplication1.item>
@{
    List<metagrup> MasterMetaList = (List<metagrup>)Session["MasterMetaList"];
    if (MasterMetaList.Count() > 4)
    {
        for (int i = 0; i < 5; i++)
        {
            var imageName = MasterMetaList[i].IdCurrentItem + ".jpg";
             <a href="@Url.Action("MetaGroup", "Home", new { masterGroupID = MasterMetaList[i].IdCurrentItem })"><div class="img__wrap" style="float:left;width:20%"><img src="~/Content/MetagroupImage/@imageName" width="100%" class="img__img" /><p class="img__description">@MasterMetaList[i].METAGROUPNAME</p></div></a>
        }
    }
}