@model IEnumerable<WebApplication1.warehouse>

@{
    ViewBag.Title = "Warehouses";
    Layout = "~/Views/Shared/_Layout_NoMenu.cshtml";
}


<div class="row">
    <div class="col-lg-12" style="padding: 0px;">
        <div class="row">

            <div class="col-lg-12" style="font-weight: bold; padding: 15px 25px;">
                <span>Home / </span><span style="color: #2ea3f2;">Warehouse</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="font-weight: bold; font-size: 36px; font-family: 'OpenSansExtraBold'; margin: 15px; color: #2ea3f2;">
                Warehouse
            </div>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {



                <div class="col-lg-3">
                    <div class="col-lg-12">
                        <img alt="Janere" src="~/Content/store/store.jpg" width="100%" />
                    </div>
                    <div class="col-lg-12" style="text-align: center; font-size: 16px; color: #235d91;font-weight:bold;padding:15px 0px;">
                        @Html.DisplayFor(modelItem => item.name)
                    </div>
                    <div class="col-lg-12" style="font-size:14px;">
                        <p>Puidu 17a</p>
                        <p>
                            71020 VILJANDI
                        </p>
                        <p>
                            Telephone: +372 436 6057
                        </p>
                        <p>
                            Fax: +372 436 6058
                        </p>
                        <p>
                            E-mail: viljandi(at)janere.ee
                        </p>
                        <br />
                        <p>
                            The Store is Open:
                        </p>
                        <p>
                            Mon-Fri 8:00 – 18:00
                        </p>
                        <p>Sat-Sun Closed</p>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
