@model IEnumerable<WebApplication1.promotion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}



<h1>Promotion</h1>
<div class="page_action">
    <a href="@Url.Action("Create","Promotion")">Add New</a>
   
</div>

<ul class="sub_action">
    <li class="active"><a href="@Url.Action("Index", "Promotion", new {tab= "published" })">Published</a></li>
    <li><a href="@Url.Action("Index","Promotion",new {tab="trashed"})">Trashed</a></li>
</ul>



@using (Ajax.BeginForm("IndexAjax", new {type = ViewBag.Type, tab = ViewBag.Tab }, new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "Promotion-result",
    OnBegin = "promotionsearchOnBegin",
    OnSuccess = "promotionsearchOnSuccess"
}, new { @class = "" }))
{

    <button style="display: none;" type="submit" id="Promotion-btsubmit">Search</button>
}
<div id="Promotion-result">
    @{
        Html.RenderAction("IndexAjax", "Promotion");
    }


</div>
<script>

    
    //#region tdg form

    function Promotion_seacrch() {
        $('#Promotion-btsubmit').click();
    }
    Promotion_seacrch();
    function promotionsearchOnBegin() {

    }

    function promotionsearchOnSuccess() {


    }
    //#endregion

</script>