
@{
    ViewBag.Title = "Thankyou";
    Layout = "~/Views/Shared/_Layout_NoMenu.cshtml";
}

<h2>Thank you</h2>

Thank u for shopping with us.<br />
 Your order is raised.<br />
Our customer service will contack you shortly.<br />
Regards,


